*{
margin: 0;
padding: 0;

}
body, html{
  height: 100%;
}

body{
background-image: url(newes.jpg);

height: 100%

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.banner-text h1{
font-size: 80px;
font-family:fantasy;
font-weight:900;
float: center;
text-align: center;
margin-top: 15%
}

}
.banner-text h6{
  font-size: 20px;
  font-family:fantasy;
  font-weight:900;
  float: center;
  text-align: center;
  margin-top: 20%
}

body{
  background-position: center;
  font-family: sans-serif;
}
.banner-text{
  width: 100%;
  position: absolute;
}
banner-text ul{
  height: 50px;
  float: right;
}
.banner-text ul li{
  display:  inline-block;
  padding: 30px 15px;
  font-family: fantasy;
  text- transform: uppercase;
  background-color: ;
  background-size:
  color: #000;
  font-size: 20px;
}
.banner-text h2{
  text-align: center;
  color: #000;
  font-size: 40px;
  font-family: Century Bold;
  font-weight: bolder;
  margin-top: 1%;
  float: center;
}
.footer {
  text-align: center;
  background-color:#000;
  color: white;
  font-size: 15px;
  margin-top: 0%;
  float: center;
}
.animation{
  background: linear-gradient(to left,orange,#66ccff);
  width: 100%;
  height: 100vh;
}
.center {
  display: block;
  margin-top: 9%;
  margin-left: auto;
  margin-right: auto;
  width: 39%;
}
.box-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
  overflow: hidden
}
.box-area li{
  position:absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(178,0,255,0.33);
  animation: animate 20s linear infinite;
  bottom:-150px;
}
.box-area li:nth-child(1){
  left: 86%;
  width:80px;
  height: 80px;
  animation-delay:0s;
}
.box-area li:nth-child(2){
  left: 15%;
  width:40px;
  height: 40px;
  animation-delay: 1.5s;
  animation-duration:10s;
}
.box-area li:nth-child(3){
  left: 70%;
  width:100px;
  height:100vhpx;
  animation-delay:5.5s;
}
.box-area li:nth-child(4){
  left: 42%;
  width:150px;
  height: 150px;
  animation-delay:0s;
  animation-duration: 15s;
}
.box-area li:nth-child(5){
  left: 65%;
  width:40px;
  height: 40px;
  animation-delay:0s;
}
.box-area li:nth-child(6){
  left: 15%;
  width:110px;
  height: 110px;
  animation-delay:3.5s;
}
@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
100%{
  transform: translateY(-800px) rotate(360deg);
  opcity:0;
}
}
.description{
  background-color: lightgrey;
  text-indent: 50px;
  text-align:center;
  margin-top: 2%;
font-family: cursive;
font-size: 19px;
}
